header {
    color: white;
    min-width: 1350px;
    background: black;
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    border-bottom: 2px solid #888;
}

#title img {
    width: 100%;
}

#menu {
    padding: 5px 2px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

#menu-list {
    width: 40%;
    min-width: 650px;
}

    #menu-list li {
        display: inline-block;
    }

        #menu-list li a {
            text-decoration: none;
            color: white;
        }

#user-status {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    min-width: 650px;
}

    #user-status a {
        text-decoration: none;
        color: white;
    }

.cart-bt {
    width: auto;
    padding-right: 10px;
}

.logged-as {
    flex: 1;
}

.logout-bt {
    flex: 1;
}

#list-cats-box {
    display: none;
}
