main {
    min-width: 1350px;
    display: flex;
    color: white;
}

#categories {
    width: 15%;
    margin-right: 5px;
    border: 2px solid #888;
}

#products {
    width: 84%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

#list-cats li {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #888;
    border-collapse: collapse;
}