footer {
    margin-top: 5px;
    border-top: 2px solid #888;
    color: white;
    height: 150px;
    background: black;
    min-width: 1350px;
}

#flexfooter {
    display: flex;
}

#sitemap {
    flex: 2;
    display: flex;
}

    #sitemap div {
        margin: 14px;
    }

    #sitemap p {
        font-size: 125%;
        text-decoration: underline;
    }

    #sitemap a {
        text-decoration: none;
        color: white;
        display: block;
    }

#info {
    flex: 1;
}

    #info p {
        font-size: 125%;
        text-decoration: underline;
    }

    #info span {
        display: block;
    }

#copyright {
    text-align: center;
}
