.product {
    border: 2px solid #888;
    color: white;
    display: flex;
    width: 100%;
    min-width: 925px;
    height: 25vh;
}

.prod-img-box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1;
}

.prod-img {
    width: 100%;
    height: 100%;
}

.prod-info {
    flex: 3;
    min-width: 525px;
    background: #5e5e5e;
    display: flex;
    flex-direction: column;
}

.prod-title {
    margin: 5px;
    font-size: x-large;
    font-weight: bold;
    flex: 1;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.prod-spec-box {
    flex: 7;
    display: flex;
    justify-content: stretch;
}

.prod-spec {
    margin-left: 5px;
    min-width: 400px;
}

.spec-title {
    font-size: 150%;
    text-decoration: underline;
}

.spec-text {
    padding-top: 10px;
}

.prod-buy-box {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.prod-price {
    padding-left: 10px;
    padding-bottom: 10px;
}

    .prod-price u {
        font-size: 150%;
        text-decoration: underline;
    }

.prod-buy {
}

    .prod-buy button {
        width: 100%;
        height: 100%;
    }
