body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site {
    width: 70vw;
    height: 100vh;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../img/pc_background.png");
    border-left: 2px solid #888;
    border-right: 2px solid #888;
}

.login-form {
    padding:10px;
    width: 576px;
    border: 2px solid #888;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    background: black;
}

.form-line {
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.form-line-tall {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.small-container{
    padding:5px;
}

.text-container {
    width: 100%;
    color: white;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.warning-container{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.auto-style1 {
    width: 960px;
}

.auto-style2 {
    height: 30px;
}
